<% include ../partials/head.ejs %>
<% include ../partials/top-nav.ejs %>

<main class="contianer">
    <div class="row">
        <div class="col-md-offset-3 col-md-10">
            <h1><%title%></h1>

            <a href="/book-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Contact
                </a>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center col-1">Name</th>
                    <th class="text-center col-1">Author</th>
                    <th class="text-center col-1">Year Published</th>
                    <th class="text-center col-4">Description</th>
                    <th class="text-center col-1">Price</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                <!-- Repeatable Table Row-->
                <% for(let count = 0; count < BookList.length; count++){ %>
                     <tr>
                         <td class="text-center col-1"><%= BookList[count].name %></td>
                         <td class="text-center col-1"><%= BookList[count].author %></td>
                         <td class="text-center col-1"><%= BookList[count].published %></td>
                         <td class="text-center col-4"><%= BookList[count].description %></td>
                         <td class="text-center col-1"><%= BookList[count].price %></td>
                         <td class="text-center col-1">
                             <a href="/book-list/edit/<% BookList[count].id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Edit
                            </a>
                         </td>
                         <td class="text-center col-1">
                             <a href="/book-list/delete/<% BookList[count].id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete
                            </a>
                         </td>
                        </tr>
                <% } %>
                </tr>
            </table>
        </div>
    </div>
</main>

<% include  ../partials/bottom-nav.ejs %>