<% include head.ejs %>
<% include top-nav.ejs %>

<main class="contianer">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1><%title%></h1>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Author</th>
                    <th class="text-center">Year Published</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Price</th>

                <!-- Repeatable Table Row-->
                <% for(let count = 0; count < BookList.length; count++){ %>
                     <tr>
                         <td class="text-center"><%= BookList[count].name %></td>
                         <td class="text-center"><%= BookList[count].author %></td>
                         <td class="text-center"><%= BookList[count].published %></td>
                         <td class="text-center"><%= BookList[count].description %></td>
                         <td class="text-center"><%= BookList[count].price %></td>
                     </tr>
                <% } %>
                </tr>
            </table>
        </div>
    </div>
</main>

<% include  bottom-nav.ejs %>